@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto";
}

body.light {
  background-color: white;
  color: #333;
}

body.dark {
  background-color: #191e22;
  color: white;
}

.header.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

/* 스크롤바 제거 */
body::-webkit-scrollbar {
  width: 0px;
}
